.btn {
    display: block;
    width: 100%;
    margin: 0 auto;
    padding: 1rem 0;
    font-size: 1.8rem;
    color: #fff;
    text-transform: uppercase;
    font-weight: 300;
    line-height: 1;
    border: 0;
    outline: none;
    background: rgb(65, 9, 65);
    cursor: pointer;

}